$yellow: #ff6;

html {
  font: normal 18px/1.2 Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

p, h1, h2, h3, ol, button {
  margin: .6em 0;
}

main, header {
  max-width: 550px;
  margin: 0 auto;

}

main {
  border-left: 1px solid #cecece;
  border-right: 1px solid #cecece;
  padding: 20px 30px;
  overflow: auto;
}

header {
  background: navy;
  color: #fff;
  width: 100%;
  height: 50px;
  overflow: hidden;
  line-height: 50px;
  padding: 0 20px;
}

#home-link {
  float: left;
  font-size: 1.1em;
  font-weight: 600;
}

.nav-link {
  float: right;
}

#problem-list {
  max-width: 500px;
}

.problem {
  width: 80px;
  float: left;
  padding: 6px 8px;
  border: 1px solid #ccc;
  text-align: center;
}

.mastered {
  background-color: pink;
}

.working {
  background-color: $yellow;
}

button {
  display: block;
  width: 100px;
  margin: .6em auto;
  font-size: inherit;
  color: navy;
  border: 2px solid navy;
  border-radius: 6px;
  line-height: 2em;
}

/* ----- Practice cards ------ */

#practice {
  text-align: center;
  clear: both;
}

.card-container {
  font-size: 100px;
  text-align: right;
  width: 1.5em;
  margin: 20px auto;
}

.subtrahend {
  text-decoration: underline;
}

.answer {
  font: inherit;
  width: 1.2em;
  text-align: right;
  background-color: #eee;
}
